body {
	background-color: white;
	}
	
a:link { 
	color: white;
	}
	
a:visited {
	color: white;
	}
	
#header {
	background-image: url(../images/gradient.jpg);
	background-color: rgb(126,10,0);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 14vh;
	}

.parents {
  position: relative;
  top: 0;
  left: 0;
}

.parent1 {
  position: relative;
  top: 0;
  left: 0;
}

.parent2 {
  position: absolute;
  margin-left: 72vh;
  top: 1px;
}

img.parent2 {
	border-radius: 100%;
	width: 17%;
	}
	
#footer {
	background-image: url(../images/gradient.jpg);
	background-color: rgb(126,10,0);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 7vh;
	}
	
.topnav ul {
	margin-left: 100vh;
	width: 100%;
	display: inline;
	padding-bottom: 30px;
	border-bottom: 1px solid white;
}

.topnav ul li {
	display: inline;
	color: white;
	font-size: 11px;
	line-height: 70px;
	padding-left: 15px;
}
	
/* Index */
	
#wrapper { 
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 79vh;
	}
	
	
.box {
	margin: 10px;
	font-size: 50px;
	}
	
.boxtop {
	background-image: url(../images/menu.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	height: 36vh;
	max-width: 100%;
	}
	
.line {
	display: table;
	width: 98.5%;
	}
	
.boxes {
	 display: table-cell;
	 height: 36vh;
	 width: 33%;
	 }
	 
@media only screen and (max-width: 600px) {
    .boxes { 
        display: block;
        width: 97%;
    }
}

@media only screen {
	.box1 {
	border-right: 10px solid white;
		}
		
	.box2 {
	border-right: 10px solid white;
	border-left: 10px solid white;
		}
		
	.box3 {
	border-left: 10px solid white;
		}	
		
	}

.box1 {
	background-image: url(../images/designers.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	}
	
.box2 {
	background-image: url(../images/suggestion.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
.box3 {
	background-image: url(../images/events.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	}

