body {
	background-color: white;
	font-family: Khand;
	}
	
a:link { 
	color: white;
	text-decoration: none;
	}
	
a:visited {
	color: white;
	text-decoration: none;
	}
	
.header {
	background-image: url(../images/gradient.jpg);
	background-color: rgb(126,10,0);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 14vh;
	letter-spacing: 3px;
	}

.parents {
  position: relative;
  top: 0;
  left: 0;
}

.parent1 {
  position: relative;
  top: 0;
  left: 0;
}

.parent2 {
  position: absolute;
  top: 1px;
}

img.parent2 {
	border-radius: 100%;
	width: 210px;
	height: 210px;
  	left: 50%;
  	transform: translate(-50%);
	}
	
@media only screen and (max-width: 600px) {
	.parent2 {
  		top: 2px;
		}
		
	img.parent2 {
		width: 145px;
		height: 145px;
		}
	}	

#footer {
	background-image: url(../images/gradient.jpg);
	background-color: rgb(126,10,0);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 20vh;
	}
	
.contact ul {
	width: 100%;
	display: inline;
	border-bottom: 1px solid transparent;
	margin-left: 33%;
}

@media only screen and (max-width: 600px) {
	.contact ul {
		margin-left: 1%;
		}
		
	#wrapper {
	padding-left: 2.8vh;
	padding-right: 2.8vh;
		}
	}

.contact ul li {
	display: inline;
	color: white;
	font-size: 11px;
	line-height: 70px;
	padding-left: 1%;
}

#wrapper { 
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 79vh;
	font-size: 20px;
	}


/* Navigation */

@media (min-width: 600px) {
.menu {
	width: 100%;
	position: relative;
	float: left;
	}	
	
.menu ul {
	float: left;
	width: 100%;
	}
	
.menu li {
	float: left;
	width: 20%;
	font-weight: bold;
	font-size: 30px;
	padding-top: 50px;
	text-align: center;
	}	
	
.smaller {
	font-size: 15px;
	}
}

.header ul {
  list-style: none;
  overflow: hidden;
}
 
@media (max-width: 600px) {
.header ul a:link { 
	color: black;
	text-decoration: none;
	}
	
.header ul a:visited {
	color: black;
	text-decoration: none;
	}
	
.header ul {
	font-size: 20px;
	background: white;
	}
	
.header ul li {
	padding: 2px;
	border-bottom: 1px solid #C9C9C9;
	text-align: center;
	}
	
	.span1 {
		display: none;
	}
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .6s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 75px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .6s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 600px) {
  
  .header .menu {
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

	
/* Index */	
	
.box {
	margin-top: 10px;
	height: 37.5vh;
	}
	
.link {
	display: flex;
	align-items: center;
  	justify-content: center;
	font-size: 40px;
	letter-spacing: 3px;
	}
	
.link a {
	align-items: center;
  	justify-content: center;
	border: 5px solid white;
	padding: 10px;
	background-color: rgba(255,255,255, 0.3);
	}

.boxtop {
	background-image: url(../images/menu.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	background-position: center;
	}
	
.box1 {
	background-image: url(../images/designers.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;

	}
	
.box2 {
	background-image: url(../images/suggestion.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	}
	
.box3 {
	background-image: url(../images/events.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	}
	
.line {
	display: flex;
	width: 100%;
	}
	
.boxes {
	display: flex;
	width: 33%;
	 }
	 
@media only screen and (max-width: 600px) {
    .boxes { 
        width: 100%;
        border-bottom: 10px solid white;
        }
        
	.line {
		flex-direction: column;
		align-contents: stretch;
		height: 57vh;
	}	
			
	.boxtop { 
	height: 18vh;
	}  
	
	.box1 {
	height: 18vh;
	}
	
	.box2 {
	height: 18vh;
	}
	
	.box3 {
	height: 18vh;
	}
}

@media only screen and (min-width: 600px) {
	.box1 {
	border-right: 10px solid white;
		}
		
	.box2 {
	border-right: 5px solid white;
	border-left: 5px solid white;
		}
		
	.box3 {
	border-left: 10px solid white;
		}			
}

/* Menu */

#wrappergreen { 
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: url(../images/milk.jpg);
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 80%;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.rectangle {
    width: 7vh;
    height: 7vh;
    margin: 7px;
    display: flex;
     border: 1px solid white;
	}

.linecolor {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	text-shadow: white 1px 1px;
	}
	
.columncolor1 {
	display: flex;
	flex-direction: column;
	margin-top: 5vh;
	margin-left: 5vh; 
	}
	
.columncolor2 {
	display: flex;
	flex-direction: column;
	margin-top: 5vh;
	margin-right: 5vh; 
	}
	
.rectangle1 {
    background: #8E465B;
	}

.rectangle2 {
    background: #3A6641
	}
	
.rectangle3 {
    background: #498280
	}
	
.rectangle4 {
    background: #EAD973
	}
	
.rectangle5 {
    background: #CE8A23
	}
	
.rectangle6 {
    background: #49383C
	}
	
.rectangle7 {
    background: #6E73B5
	}
	
.rectangle8 {
    background: #7FA092
	}
	
.rectangle9 {
    background: #498280
	}
	
.rectangle10 {
    background: #CE8A23
	}
	
.rectangle11 {
    background: #6E73B5
	}
	
.rectangle12 {
    background: #8E465B;
	}
	
.rectangle13 {
    background: #EAD973
	}
	
.rectangle14 {
    background: #7FA092
	}
	
.rectangle15 {
    background: #49383C
	}
	
.rectangle16 {
    background: #3A6641
	}

.flavour1 {
	display: flex;
	}
	
.flavour2 {
	display: flex;
	flex-direction: row-reverse;
	}

p.centered {
	margin-top: 3vh;
	}
	
#color {
	margin-top: 70vh;
	}
	
.teamenuh {
	display: none;
		}
	
@media only screen and (max-width: 600px) {
	#wrappergreen {
		font-size: 19px;
		background-image: url(../images/milk.jpeg);
		width: 130%;
		background-position: left top;
		}
		
	.columncolor1 {
		margin-top: 2vh;
		margin-left: 3vh; 
		margin-bottom: 2vh;
		}
	
	.columncolor2 {
		margin-top: 2vh;
		margin-right: 18vh; 
		margin-bottom: 2vh;
		}
	}
	
/* Designers */

.h1a {
	font-size: 50px;
	text-align: left;
	margin-top: 5vh;
	}
	
.h2a {
	font-size: 20px;
	text-align: left;
	margin-top: 2vh;
	}
	
.boxcolumn {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
	}
	
.boxline {
	display: flex;
	justify-content: space-around;
	margin-top: 2vh;
	margin-bottom: 2vh;
	}
	
.roundimage {
	border-radius: 100%;
	}
	
@media only screen and (max-width: 600px) {
	.roundimage {
		width: 120%;
		border: 1vh solid white
		}
		
	.boxline {
		font-size: 15px;
		}
	
	.h1a {
		margin-top: 1vh;
	}			
	
	}
	
/* Suggestion */

.background {
	background-image: url(../images/suggestionsource.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: relative;
	height: 79vh;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	}
	
@media only screen and (max-width: 600px) {
	.background {
	background-image: url(../images/mockup.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: relative;
	}
	
	.bookleaf {
		display: none;
	}
	
	.res1 {
		display: block;
		font-size: 20px;
	}
	
	h1.res {
		font-size: 32px;
	}
	
	hr.hr {
		color: black;
		position: center;
		width: 100%;
	}
	
	p.arial {
		font-family: arial sans-serif;
		font-size: 17px;
		margin-bottom: 5vh;
	}
	
}


@media only screen and (min-width: 600px) {
	.res1 {
		display: none; 
	}
	
	.res2 {
		display: none;
	}
		
	hr.hr {
		display: none;
	}
	
}

.bookleaf {
	width: 20%;
	margin-right: 59%;
	margin-top: 5%;
	}
	
#text {
	width: 100%;
	height: 20vh;
	display: none;
	background-color: rgba(0,0,0, 0.4);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	left: 50px;
	font-family: courrier;
	text-shadow: 1px 1px #D8A75E;
	}
	
.bold {
	font-weight: bold;
	font-size: 40px;
	font-family: khand;
	}
	
/* Events */
	
#event {
  position:relative;
}

#event img.bottom {
	margin-left: 9vh;
	margin-top: 9vh;
	}

#event img.top {
	margin-left: 9vh;
	margin-top: 9vh;
	}

#event img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#event img.top:hover {
  opacity:0;
}

#form {
	margin-top: 5vh;
	margin-right: 5vh;
	}
	
.flexline {
	display: flex;
	justify-content: center;
	}
	
#form label {
	font-size: 20px;
	margin-left: 2vh;
	}
	
#form input {
	margin-left: 5vh;
	}
	
.h1b {
	font-size: 50px;
	margin-top: 12vh;
	}
	
#form input.submitbutton {
	margin-top: 2vh;
	}
	
.responsivetara {
	display:none;
	}
	
@media only screen and (max-width: 600px) {
	.h1b {
		font-size: 40px;
		margin-top: 2vh;
		}
	
	.flexline {
		display: flex;
		justify-content: center;
		flex-direction: column;
		}
	
	#form label {
		font-size: 20px;
		margin-left: 4vh;
		}
	
	#form {
		margin-top: 1vh;
		}
	
	#event {
		display: none;
		}
		
	.responsivetara {
		display: inherit;
		width: 100%;
		height: 27vh;
		margin-top: 6vh;
		}
	
	}